<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>

    {% include 'header.html' %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {%block content%}
    {%endblock content%}
    
    
    {% include 'footer.html' %}
    {% include 'scripts.html' %}
  </body>
</html>


<!-- TinyMce editor plugin
    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinymcespellchecker codesample',
        toolbar: 'a11ycheck casechange checklist export formatpainter image editimage pageembed permanentpen table tableofcontents codesample',
        toolbar_mode: 'floating',
        content_css: 'writer'
      });
    </script>-->