{% extends 'base.html' %}

{%block content%}

<div class="accordion align-items-center text-center col-md-12" id="accordionExample ">
  {% for post in posts %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{% cycle 'One' 'Two' 'Three' 'Four' 'Five' %}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{% cycle 'One' 'Two' 'Three' 'Four' 'Five' %}" aria-expanded="true" aria-controls="collapseOne">
        <ul class="list-group col-md-13">
          <li class="list-group-item align-items-center"> <a href=""><ul class="list-group list-group-horizontal col-md-6">
            <li class="list-group-item col-md-6" style="border: invisible;"><img class="rounded mx-auto d-block" style="width: 35px; height: 35px; border-radius: 100%;" src="{{post.owner.profile_image.url}}" alt="{{post.owner.username}}"></li>
            <li class="list-group-item col-md-6"> <a href="#">{{post.owner.username}}</a> </li>
          </ul></a> 
          </li>
          <li class="list-group-item fw-bold fs-2" >{{post.title}}</li>
        </ul>
      </button>
    </h2>
    <div id="collapse{% cycle 'One' 'Two' 'Three' 'Four' 'Five' %}" class="accordion-collapse collapse" aria-labelledby="heading{% cycle 'One' 'Two' 'Three' 'Four' 'Five' %}" data-bs-parent="#accordionExample">
      <div class="accordion-body" >
        <strong class="text-center">{{post.preview|slice:'200'}}</strong>
        <div> {{post.post | safe}} </div>
        <a href="{% url 'post' post.id %}">view post</a>
      </div>
    </div>
  </div>
  {%endfor%}
  </div>


{% endblock %}
<!-- Pagination -->
<!--
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if queryset.has_previous %}                
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.number }}" class="page-link active">{{ queryset.number }}</a></li>
                {% if queryset.has_next %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>

            {% if is_paginated %}
            
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if page_obj.has_previous %}                
                <li class="page-item"><a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ page_obj.number }}" class="page-link active">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ page_obj.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
            
            {% endif %}
          </div>
        </main>
        {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
      </div>
    </div>
-->